<%- include('partials/header'); -%>
<br />
<br />
<div class="container-fluid" style="max-width: 1100px;">
  <div class="row">
    <div class="col-md-8">
      <h2><%= anime.name%></h2>
      <br />
      <p><span class="text-muted">Date Aired</span> : <%= anime.dateAired%></p>
      <p><span class="text-muted">Status</span> : <%= anime.status%></p>
      <br />
      <p>
        <span class="text-muted">Summary :</span> <br />
        <%= anime.summary%>
      </p>
      <br />
      <span class="text-muted"> <h3>Episodes :</h3> </span>
      <br />
      <div class="list-group">
        <% anime.episodeList.forEach((episode, index, array) => { %>
        <a href="/player/<%= episode.episodeLink %>" class="list-group-item list-group-item-action">
          <%= `Episode ${episode.episodeName}` %>
        </a>
        <% }); %>
      </div>
      <br />
      <br />
    </div>

    <div class="col-md-4">
      <center><img src="<%= anime.bannerUrl %> " alt="" srcset="" /></center>
    </div>
  </div>
</div>

<%- include('partials/footer'); -%>
